.single-character {
    position: relative;
    margin-top: 50px;
    display: flex;
    min-height: 293px;

    &__img {
        height: 293px;
    }

    &__text {
        margin-left: 50px;

        &-name {
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
        }

        &-description {
            margin-top: 28px;
            width: 550px;
            font-weight: 400;
            font-size: 18px;
        }
    }
}

.spinner, .error {
    position: absolute;
    margin: 115px auto 0;
    left: 0;
    right: 0;
}